@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #3a86ff;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1520px;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

* {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
  &.active {
    color: var(--primary-color);
    font-weight: 700;
  }
}

.container {
  margin-inline: auto;
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: var(--breakpoint-md);
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: var(--breakpoint-lg);
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: var(--breakpoint-xl);
  }
}

@media only screen and (min-width: 1520px) {
  .container {
    max-width: var(--breakpoint-2xl);
  }
}

button.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  box-sizing: border-box;
  padding-block: 1.25rem;
  padding-inline: 1.5rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.172;
  }

  nav {
    display: flex;

    gap: 1.5rem;

    > ul {
      display: flex;
      gap: 3.75rem;
    }
  }
}

.desktop {
  display: none;
}

nav.mobile {
  > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.125rem;

    transform: translateX(100%);

    position: fixed;
    left: 50%;
    right: 0;
    inset-block: 0;
    background: black;
    transition: 0.3s ease-in;

    padding: 2.5rem 1.5rem;
    z-index: 2;
  }

  &::before {
    opacity: 0;
    transition: 0.3s ease-in;
    content: "";
    position: fixed;
    left: -100%;
    right: 0;
    inset-block: 0;
    background: rgba(255, 255, 255, 0.3);
    z-index: -1;
  }

  &.open {
    ul {
      transform: translateX(0);
    }
    &::before {
      opacity: 1;
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    padding-block: 3rem;
    padding-inline: 0;
    nav {
      align-items: center;
      gap: 3rem;
      > ul {
        gap: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  header {
    padding-block: 5rem;
    nav {
      gap: 7.5rem;
      > ul {
        gap: 3.75rem;
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  aspect-ratio: 1/2;
  > * {
    margin-inline: auto;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: calc(50 / 40);
  }

  p {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: calc(30 / 22);
  }

  button.hero-button {
    padding: 9px 32px;
    font-size: 1rem;
    font-weight: 500;
    line-height: calc(30 / 16);
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.15s ease-in;

    &:hover {
      filter: brightness(1.1);
    }
  }

  position: relative;

  .hero-backdrop {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.8) 50%,
          rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0) 25%,
          rgba(0, 0, 0, 0) 75%,
          rgba(0, 0, 0, 0.8) 100%
        );
    }
  }

  .hero-content {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero {
    aspect-ratio: 16 / 9;
  }
}

.movies-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: calc(50 / 40);
  }

  .movies-sort-button {
    height: 2.75rem;
    border: solid 1.5px white;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 0 1.5rem;
    border-radius: 1.375rem;
    background: transparent;
    cursor: pointer;

    transition: 0.15s ease-in;

    display: flex;
    align-items: center;
    gap: 0.25rem;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &.active {
      background: white;
      color: black;

      &:hover {
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.movies-list {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .movies-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .movies-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 40px;
  }
}

.movie-card {
  aspect-ratio: 7 / 9;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .movie-info {
    position: absolute;
    inset: 0;
    padding: 30px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: 0.3s ease-in;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;

    .movie-title {
      font-size: 1.125rem;
      font-weight: 900;
      line-height: calc(21 / 18);
    }

    .movie-description {
      font-size: 1rem;
      font-weight: 400;
      line-height: calc(18.75 / 16);
      letter-spacing: 10%;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    .movie-popularity {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &:hover .movie-info {
    opacity: 1;
  }
}
